.DS_Store
**/.DS_Store

__pycache__/
**/__pycache__/
*.pyc
code/static/uploads/
*.pth

venv/
env/
code/venv/

.vscode/
.idea/
*.pt

InputOuputImages/
code/content_data/
code/style_data/
code/experiment/final_exp/
code/adain_algo.png